@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  padding: 10px 50px 0 50px;
}

@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}
